@import 'bootstrap';
html {
  height: 100%;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.container {
}

body {
  height: 100%;
  font-family: 'generalFont', 'Arial', 'SansSerif', 'sans-serif' !important;
  font-weight: 700;
  color:  rgba(37,35,77,.812);
}
.title-sided {
  &__main {
    font-weight: 700;
    color: #39adfc;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  &__description {
    font-weight: inherit;
    line-height: 54px;
    color: #25234d;
    font-size: 60px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header{
  background-image: url("../images/header/headerBG.png"),
                    linear-gradient(45deg, #24a1f4 0%, #0BBAFB 100%) ;
  background-position: top, top center;
  background-repeat: no-repeat;
  &__logo{
    display: block;
    width: 394px;
    height: 90px;
    margin: 23px 0  0 21px;
  }
  &__menu{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 0 23px 0;
  }
  &__link{
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 11px;
    &:hover{
      color: white;
      text-decoration: underline;
    }
  }
}
.main {
  flex-grow: 1;
}
.about{
  position: relative;
  &__right{
    display: block;
    width: max-content;
    margin: 40px 140px 40px auto;
  }
  &__image{
    position: absolute;
    z-index: -1;
    width: 106.6%;
  }
  &__title{
    font-size: 32px;
  }
  &__subtitle{
    max-width: 100px;
    font-size: 60px;
    margin: 10px 0;
  }
  &__menu{
    padding: 0;
  }
  &__link{
    color: inherit;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    &:hover{
      color: rgba(37,35,77,.812);
      text-decoration: underline;
    }
  }
  &__submenu{
    padding-left: 20px;
  }
  &__button{
    width: 253px;
  }
}

.orientation{
  background-color: #f4f4f9;
  padding:  0 0 100px 0;
  margin: 100px 0 30px 0;
  &::before{
    content: "";
    display: block;
    width: 100%;
    top: 0;
    border: 60px solid transparent;
    border-left: 1411px solid white;
    border-top: 12px solid white;
    border-right: 0 solid white;
  }
  &__title{
    font-size: 23px;
    margin-top: 30px;
  }
  &__subtitle{
    max-width: 300px;
    font-size: 52px;
  }
}

.box{
  &__item{
    display: inline-block;
    border: none;
    width: 210px;
    height: 226px;
    padding: 10px 33px;
    box-shadow: 0 0 19px 0 #e4dfdf;
    border-radius: 5px;
    margin: 30px 58px 0 0;
    cursor: pointer;
    transition: box-shadow 0.3s;
    &:nth-child(5n){
      margin-right: 0;
    }
    &:hover{
      box-shadow: 0 0 15px 10px white;
    }
  }
  &__title{
    color: rgba(14,44,71,.788);
    font-weight: inherit;
    font-size: 17px;
  }
  &__image{
    width: 50px;
    height: 60px;
    margin: 0 0 10px 5px;
  }
  &__list{
    font-size: 13px;
    padding: 0;
  }
  &__card{
    list-style-type: square;
  }
}

.directions {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
  &__item{
    padding: 16px;
    flex: 0 0 20%;

    &:nth-child(3) {
      transform: translateY(-60px);
    }
    &:nth-child(4) {
      transform: translateY(-120px);
    }
    &:nth-child(5) {
      transform: translateY(-180px);
    }
    &:nth-child(8) {
      transform: translateY(-60px);
    }
    &:nth-child(9) {
      transform: translateY(-120px);
    }
    &:nth-child(10) {
      transform: translateY(-180px);
    }
  }
}

.direction-card {
  box-shadow: 0 0 19px 0 #e4dfdf;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  border: none;
  padding: 16px;
  background-color: $white;

  &:hover{
    box-shadow: 0 0 15px 10px white;
  }
  &__title{
    color: rgba(14,44,71,.788);
    font-weight: inherit;
    font-size: 17px;
  }
  &__image{
    width: 50px;
    height: 60px;
    margin: 0 0 10px 5px;
  }
  &__list{
    font-size: 13px;
    padding: 0;
  }
  &__card{
    list-style-type: square;
  }
}

.footer {
  &__wrapper {
    overflow: hidden;
    position: relative;
    color: $white;
    &:before {
      content: "";
      background: linear-gradient(180deg, rgba(111,81,241,1) 0%, rgba(115,94,248,1) 58%, rgba(117,103,252,1) 100%);
      position: absolute;
      height: 200%;
      top: 43px;
      left: -100%;
      right: -100%;
      transform: rotate(-2deg);
    }
  }

  &__inner {
    text-align: center;
    position: relative;
    padding: 76px 0 30px;
  }

  &__logo {
    display: inline-block;
    width: 300px;
    height: 90px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__navigation-inner {
    margin-bottom: 16px;
  }

  &__navigation {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 -8px;
    justify-content: center;
    padding: 0;
  }

  &__navigation-item {
    padding: 0 8px;
  }

  &__navigation-link {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }

  &__copyright {
  }
}

.social {
  display: flex;
  margin: 0 -8px;
  justify-content: center;
  &__item {
    padding: 0 8px;
    display: inline-block;
    width: 48px;
    height: 48px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.title {
  color: $purple;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  &__text {
    font-size: 21px;
    letter-spacing: 6px;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  }
  &__description {
    font-size: 32px;

    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
  }
}

.section {
  &__title {
    margin-bottom: 20px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 40px;
    }
  }
}

.course-card {
  font-family: 'courseFont', 'Arial', 'SansSerif', 'sans-serif';
  border: 1px solid rgba(0,0,0,.08);
  box-shadow: 0 10px 14px 0 rgb(0 0 0 / 8%);
  height: 100%;

  &__image img,
  &__avatar img{
    max-width: 100%;
    max-height: 100%;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    &_footer {
      margin: 0 8px;
      align-items: center;
    }
  }

  &__avatar {
    flex: 0 0 50%;
    margin-right: 16px;
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }

  &__rewards {
    font-size: 12px;
    color: #7e7e7e;
    font-weight: bold;
    @include media-breakpoint-up(md) {
      font-size: 13px;
    }
  }

  &__message {
    font-size: 15px;
    color: #7e7e7e;
    margin-bottom: 12px;
    padding-left: 36px;
    position: relative;
    &:before {
      background: #4274f6;
      content: "";
      height: 2px;
      left: 0;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 27px;
      z-index: 1;
    }
  }

  &__description {
    font-size: 15px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  &__image {
    margin-bottom: 16px;
    position: relative;
    &:after {
      content: "";
      background-image: linear-gradient(180deg,transparent 0,#323031);
      bottom: 0;
      height: 80px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    @include media-breakpoint-up(md) {
      padding: 26px;
    }
  }

  &__title {
    flex-grow: 1;
    padding-bottom: 12px;
    font-size: 18px;
  }

  &__footer {
    border-top: 1px solid rgba(0,0,0,.08);
    padding: 10px 16px;
    @include media-breakpoint-up(md) {
      padding: 12px 26px;
    }
  }

  &__more-link {
    display: inline-block;
    font-weight: bold;
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__price {
    padding: 3px 20px;
    background-color: $primary;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: $white;
  }
}

.swiper {
  padding-bottom: 46px !important;
  &-button-next,
  &-button-prev {
    width: 40px !important;
    height: 40px !important;
    bottom: 5px !important;
    top: unset !important;
    box-shadow: 0 0 8px 0 rgb(34 60 80 / 35%);
    border-radius: 50px;
    background-color: white;
    z-index: 11 !important;
    display: none !important;

    @include media-breakpoint-up(md) {
      display: flex !important;
    }

    &:after {
      font-size: 22px !important;
    }
  }
  &-button-next {
    right: 36px !important;
  }
  &-button-prev {
    right: 92px !important;
    left: unset !important;
  }
  &-slide {
    height: unset !important;
  }
}

.filter {
  & .form-control {
    position: relative;
  }
  &__body {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid;
  }
  &__icon {
    width: 20px;
    height: 20px;
    color: $gray;
    z-index: 1;
    pointer-events: none;

    &_show {
      color: inherit;
      transition: transform 0.3s ease;
      transform: rotate(180deg);
      margin-right: 2px;
    }
  }
  &__wrap  {
    position: relative;
  }
  &__clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 7px 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  &__show-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  &__collapse {
    display: inline-block;
    margin-bottom: 12px;
    transition: margin-bottom 0.3s ease;
    text-decoration: none;
    color: $primary;
    &:hover {
      color: $secondary;
    }
    &[aria-expanded="false"].collapsed {
      margin-bottom: 0;
      & .filter__icon_show {
        transform: rotate(0deg);
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__label {
    display: block;
    position: relative;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:before {
      content: '';
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border: 1px solid $primary;
      border-radius: 2px;
      display: inline-block;
    }
  }
  &__checkbox:checked+.filter__label:before {
    background-color: $primary;
  }
    &__checkbox:checked+.filter__label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-color: $primary;
    width: 12px;
    height: 12px;
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  &__form-group {
    margin-bottom: 8px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  &__name {
    margin-bottom: 16px;
  }
  &__submit {
    color: $white;
    background-color: $primary;
    width: 100%;
    border: none;
    padding: 8px 0;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    font-size: 15px;

    &:hover {
      background-color: $secondary;
    }
  }
}

.programs {
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.program-card {
  border: 1px solid;
  border-radius: 6px;
  &__title {
    padding: 8px 16px;
    border-bottom: 1px solid;
  }
  &__body {
    padding: 8px 16px;
  }
  &__text {
    margin-bottom: 12px;
  }
  &__price {
    text-align: right;
    font-size: 22px;
  }
}